{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Michelle McFarland</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>

  <body>

<div class="jumbotron" id="header">

  <div class="container" id="summary">
    <h1 id="name">Michelle McFarland</h1>
  </div>

  <div class="container" id="contact">

    <div class="row">

      <a class="email" href="mailto:michelleirenemcfarland@gmail.com">
      <img src="/Users/michellemcfarland/portfolio/blog/static/images/iconfinder_Logo_Gmail.png" width="40" height="40" alt=""></a>

      <a class="linkedin" href="https://www.linkedin.com/in/michelleimcfarland/">
      <img src="/Users/michellemcfarland/portfolio/blog/static/images/iconfinder_Logo_LinkedIn.png" width="40" height="40" alt=""></a>

      <a class="github" href="https://github.com/mcfarlm3">
      <img src="/Users/michellemcfarland/portfolio/blog/static/images/iconfinder_Logo_Github.png" width="40" height="40" alt=""></a>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">

    <div class="col" id="spacer">
    </div>

    <div class="col-6" id="main-content">

        <div class="section">
          <h2>About Me</h2>
          <p class="section-content">I'm a computer science student and former teacher living in the Seattle area. Graduating in December 2021 and seeking a software engineering internship for Summer 2021. I am passionate about creating software products that are intuitive, accessible, and empowering for all users. In my free time I enjoy reading, sewing/quilting, and spending time outdoors with my two dogs.</p>

          <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>

          </div>

        </div>

        <div class="section">
          <h2>Projects</h2>

          <div class="section-content">
            {% for project in project_list %}
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            {% endfor %}
          </div>
        </div>

    </div>

    <div class="col" id="spacer">
    </div>

  </div>
</div>


  </body>

</html>
